body {
	font-family: Arial, Helvetica, sans-serif;
	margin: lem;
	padding: 0;
}
main {
	width: 450px;
	margin: 0 auto;
	padding: 1.5em;
	background: white;
	border: 2px solid navy;
}
hi {
	color: navy;
}
label {
	width: lOem;
	padding-right: lem;
	float: left;
}
#data input {
	float: left;
	width: 15em;
	margin-bottom: 0.5em;
}
#data span {
	padding-left: 0.25em;
}
#buttons input {
	float: left;
	margin-bottom: 0.5em;
}
br {
	clear: left;
}
