
/* CACH 1 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: orange;
    height: 100px;
}

h3{
    text-align: center;
    line-height: 100px;
} */


/* CACH 2
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: orange;
    height: 100px;
    display: flex;
}

h3{
    margin: auto;  
} */


/* CACH 3
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: orange;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;// space-around// space-between
}

h3{
    margin: auto;  
} */

/*CACH 4 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: orange;
    height: 100px;
    position: relative;
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* =============================================== */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: orange;
    height: 100px;
    display: flex;
}

h3{
    margin: auto;
    position: relative;
}

h3::after{
    position: absolute;
    left: -10px;
    content: "";
    border-left: 3px solid #333;
    height: 50px;
    top: 50%;
    transform: translateY(-50%)
} */