
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html, body {
    height: 100%;
  }

.box-content-current {
    background-color:beige
  }
.box-content {
    height: 100px;  
    background-color: rgba(177, 173, 173, 0.212);
  }

 
  .box-content-group{
    display: flex;
    justify-content: center;
    
  }
  
  .column-box { 
    margin-right: 100px;
    width: 180px;
  }

  .box-content-second{
    background-color:beige;
    height: 120px;
    
  }


